/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root 
{
  --bg-principal: #313630;
  --texto-principal: #dcc8a9;
  --icone-destaque: #dcc8a9;

  --fonte-texto: 'Inter', sans-serif;
  --fonte-titulo: 'Playfair Display', serif;
}



/* GERAL */
body {
  background: var(--bg-principal);
  color: var(--texto-principal);
  font-family: var(--fonte-texto);
  line-height: 1.7;
}


 
 /* LOGO */
.logo img {
  height: 40px;     
  width: auto;
  display: block;

}

.container {
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #313630;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.menu a {
  color: #dcc8a9;
  margin-left: 20px;
  text-decoration: none;
  .header {
  gap: 40px;
}

}

/* HERO */
.hero {
  background: linear-gradient(135deg, #313630, #313630);
  color: #313630;
  text-align: center;
  padding: 140px 20px 100px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: 0 auto 30px;
}

/* BOTÃO */
.btn {
  display: inline-block;
  padding: 14px 32px;
  background: #dcc8a9;
  color: #313630;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

/* SEÇÕES */
section {
  padding: 80px 40px;
}

h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

/* SERVIÇOS */
.servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* .card {
  background: #313630
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
} */

.cta-center {
  text-align: center;
  margin-top: 40px;
}

/* FUNDADORA */
.fundadora {
  background: #313630;
}

.fundadora-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.fundadora img {
  width: 100%;
  border-radius: 12px;
}

/* DEPOIMENTOS */
.depoimentos {
  background: #313630;
  color: #313630;
  text-align: center;
}

/* CONTATO */
.contato {
  text-align: center;
  /* CONTATOS HEADER */
.contatos-header {
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.contatos-header img {
  width: 22px;
  height: 22px;
  transition: transform 0.2s ease;
}

.contatos-header img:hover {
  transform: scale(1.1);
}

}

/* FOOTER */
.footer {
  background: #020617;
  color: #313630;
  text-align: center;
  padding: 30px;
}

/* BOTÃO TOPO */
#btnTopo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #dcc8a9;
  color: #313630;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .fundadora-box {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 2.2rem;
  }
}
/* WHATSAPP FLUTUANTE */
.whatsapp-float {
  position: fixed;
  bottom: 90px;
  right: 30px;
  background: #313630;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 10px 20px #313630;
}

.whatsapp-float img {
  width: 26px;
  height: 26px;
}

